<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tim_s_OWON_Meter_UI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Tim_s_OWON_Meter_UI.My.MySettings>
            <setting name="TextBox_Shell_Path_Text" serializeAs="String">
                <value>E:\tim\Documents\Visual Studio Projects\_Repositorys\OwonB41T\x64\Release\OwonB41T.exe</value>
            </setting>
            <setting name="UI_Width_Max" serializeAs="String">
                <value>True</value>
            </setting>
        </Tim_s_OWON_Meter_UI.My.MySettings>
    </userSettings>
</configuration>